<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  {% include head.html %}
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      {% include navigation.html %}
      {{ content }}
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    {% if layout.noparticles %}
      {% include scripts.html %}
    {% else %}
      {% include scripts.html particles="true" %}
    {% endif %}
  </body>
</html>
