---
layout: default
nav: navbar-transparent
---
      <section class="home-section bg-dark bg-gradient" id="home">
        <div id="particles-js" class="titan-caption">
          <div class="caption-content" style="z-index: 5;">
            <div class="font-alt mb-40 titan-title-size-4">We are 3Mór</div>
            <div class="font-alt mb-30 titan-title-size-1">A single tool that allows ops to find the signal in the noise. All made possible with open-source roots, so everyone can speak the same language.</div>
            <div class="font-alt mb-80">&nbsp;</div>

            <a class="section-scroll btn btn-border-w btn-round" href="https://portal.app.3mor.io">Start now free</a>
          </div>
        </div>
      </section>
      <div class="main">
          <section class="module-extra-small bg-dark">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="callout-text font-alt"><h4 style="margin-top: 0px; font-;">Sign up for Updates</h4></div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="callout-text font-alt"><h4 style="margin-top: 0px; font-;">&nbsp;</h4></div>
                </div>
              </div>
              <div class="row">
                <form id="subscription-form" role="form" method="post" action="https://buttondown.com/api/emails/embed-subscribe/3mor">
                <div class="col-sm-4 col-md-4 col-lg-5">
                  <div class="callout-text font-alt">
                    <div class="form-group">
                        <label class="sr-only" for="sname">Enter your name&nbsp;</label>
                        <input class="form-control" type="text" id="sname" name="sname" placeholder="Your Name*" required="required" data-validation-required-message="Please enter your name."/>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-5">
                  <div class="callout-text font-alt">
                    <div class="form-group">
                        <label class="sr-only" for="semail">Enter your email&nbsp;</label>
                        <input class="form-control" type="email" id="semail" name="semail" placeholder="Your Email*" required="required" data-validation-required-message="Please enter your email address."/>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                  <div class="callout-text font-alt">
                    <span class="input-group-btn">
                      <button class="btn btn-g btn-round" id="subscription-form-submit" type="submit">Subscribe</button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="text-center" id="subscription-response"></div>
            </div>
          </section>
        <!-- Blog -->
        <section class="module" id="blog">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Latest blog posts</h2>
                <div class="module-subtitle font-serif">&nbsp;</div>
              </div>
            </div>
            <div class="row multi-columns-row post-columns">
              {% for post in site.posts limit:3 %}
              <div class="col-sm-6 col-md-4 col-lg-4">
                {% include post_snippet.html thumb=post.thumb title=post.title author=post.author date=post.date excerpt=post.excerpt link=post.url %}
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
        {% include footer.html %}
      </div>
