---
layout: default
---

<main>
  <section class="page-header">
    <div class="container">
      <h1 class="page-title">{{ page.title }}</h1>
    </div>
  </section>

  <section class="page-body">
    <div class="post-image"><img src="{{ page.image }}" /></div>
    <div class="post-meta">
      posted {{ page.date | date: "%-d %B %Y" }} by {{ page.author }}
    </div>
    <article class="post-entry">
      {{ content }}
    </article>
    </div>
  </section>

  <section class="post-footer">
    {% if page.previous %}<a href="{{ page.previous.url }}">⬅&nbsp;&nbsp;Previous</a>&nbsp;&nbsp;&nbsp;&nbsp;/{% endif
    %}
    {% if page.next %}/&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ page.next.url }}">Next&nbsp;&nbsp;➡</a>{% endif %}
  </section>
</main>