        <!--footer -->
        <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">About 3Mór</h5>
                  <p>3Mór is internal discoverability for platform eng teams to identify and mitigate risk hiding in their ever-changing technical stack.</p>
                  <p>Email: <a href="#">info@3mor.io</a></p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Blog Categories</h5>
                  <ul class="icon-list">
                    <li><a href="#">Next Wave</a></li>
                    <li><a href="#">Prevention</a></li>
                    <li><a href="#">Tech</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Company</h5>
                  <ul class="icon-list">
                    <li>Code of Conduct</li>
                    <li>Cookie Policy</li>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                    <li>Acceptable Use</li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Follow Us</h5>
                  <ul class="icon-list">
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">X</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright -->
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="copyright font-alt">&copy; 2024&nbsp;<a href="index.html">3Mór</a>, All Rights Reserved</p>
                </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--
    JavaScripts
    =============================================
    -->
    <script src="{{ site.baseurl}}/assets/lib/jquery/dist/jquery.js"></script>
    <script src="{{ site.baseurl}}/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl}}/assets/lib/wow/dist/wow.js"></script>
    <script src="{{ site.baseurl}}/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="{{ site.baseurl}}/assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="{{ site.baseurl}}/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="{{ site.baseurl}}/assets/lib/flexslider/jquery.flexslider.js"></script>
    <script src="{{ site.baseurl}}/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="{{ site.baseurl}}/assets/lib/smoothscroll.js"></script>
    <script src="{{ site.baseurl}}/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="{{ site.baseurl}}/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="{{ site.baseurl}}/assets/js/particles.js"></script>
    <script src="{{ site.baseurl}}/assets/js/particles.config.js"></script>
    <script src="{{ site.baseurl}}/assets/js/plugins.js"></script>
    <script src="{{ site.baseurl}}/assets/js/main.js"></script>
  </body>
</html>
