<div class="post-snippet">
  <!-- <div class="post-thumbnail">
      <a href="{{ include.link }}"><img src="{{ include.thumb }}" /></a>
    </div> -->
  <div class="post-snippet-header">
    <h2 class="post-snippet-title"><a href="{{ include.link }}">{{ include.title }}</a></h2>
    <div class="post-meta">
      by&nbsp;<a href="#">{{ include.author }}</a>&nbsp;| {{ include.date | date: "%-d %B %Y" }}
    </div>
  </div>
  <div class="post-snippet-entry">
    <p>
      {{ include.excerpt }}
    </p>
  </div>
</div>